﻿<div class="mt-10p center w470">
	<div class="card">
		<div class="text-center logo"><img src="./static/assets/images/logo.png"></div>
		<label class="card-subheader text-center" *ngIf="user">{{user.username}}</label>
		<div class="card-body">
			<form [formGroup]="form" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="device_id">Enter Device Id:</label>
					<input type="text" formControlName="device_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.device_id.errors }" />
					<div *ngIf="submitted && f.device_id.errors" class="invalid-feedback">
						<div *ngIf="f.device_id.errors.required">Device ID is required</div>
					</div>
				</div>
				<div class="form-group text-center">
					<button [disabled]="loading" class="btn btn-primary">
						<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						Check
					</button>
				</div>
			</form>
		</div>
	</div>
</div>