﻿<div class="card">
	<div class="text-center logo"><img src="./static/assets/images/logo.png"></div>
    <h4 class="card-header text-center">Verify Passcode</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="passcode">Enter Passcode</label>
                <input type="text" formControlName="passcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passcode.errors }" />
                <div *ngIf="submitted && f.passcode.errors" class="invalid-feedback">
                    <div *ngIf="f.passcode.errors.required">Passcode is required</div>
                </div>
            </div>
            <div class="form-group text-center">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Verify
                </button>
            </div>
        </form>
    </div>
</div>