/* You can add global styles to this file, and also import other style files */
/* @import "assets/css/plugin-ngx-toastr"; */
html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}
.logo {
	margin-bottom: 24px;
}
.center {
	margin: 0 auto;
}
.inline {
	display: inline !important;
}
.w470 {
	width: 470px;
}
.mt-10p {
	margin-top: 10%;
}
a { cursor: pointer; }
.navbar {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}
.navbar-expand {
	justify-content: flex-end;
}
.app-container {
    min-height: 320px;
    overflow: hidden;
}
.card-header {
	color: #656565;
}
.card-subheader {
	color: #7B7B7B;
	font-weight: 500;
}
.btn {
	min-width: 128px;
}
.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
.card {
	border: 1px solid rgba(0, 0, 0, 0.01);
}
.card-header {
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.01);
}
.alert {
	top: 60px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%, 0);
}
.toast-container {
	position: fixed;
	z-index: 9999;
	top: 60px;
    right: 12px;
}
ngx-material-timepicker-toggle > .ngx-material-timepicker-toggle {
	position: relative;
    right: 4px;
    top: -35px;
    z-index: 9999;
    float: right;
}
.toast-container {
  width: 100%;
  .toast-title{
    font-weight: 400;
  }
  .toast-close-button {
    font-weight: 300;
    text-shadow: none;
    position: absolute;
    right: 10px !important;
    top: 50% !important;
    margin-top: -14px;
    width: 25px;
    height: 25px;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 1;
      color: #FFF;
    }

    & > span {
      display: none;
    }

    &:before {
      display: block;
      font: normal normal normal 14px/1 "nucleo-icons";
      font-size: inherit;
      speak: none;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 14px;
      content: "\ea4f";
      font-weight: 300;
    }
  }

  .alert {
    z-index: 9999;
    width: 33.3333%;
    pointer-events: auto;

    .toast-message {
      max-width: 89%;
    }

    &.alert-with-icon {
      .nc-icon {
        position: absolute;
        left: 24px;
        top: 50%;
        margin-top: -14px;
        font-size: 24px;
      }
    }
  }

  .toast-error {
    background-image: none;
  }

  .toast-success {
    background-image: none;
  }

  .toast-info {
    background-image: none;
  }

  .toast-warning {
    background-image: none;
  }
}
.toast-top-center,
.toast-bottom-center {
  .alert {
    margin-left: auto;
    margin-right: auto;
  }
}
.toast-top-right,
.toast-bottom-right {
  .alert {
    margin-left: auto;
    margin-right: 0;
  }
}

.toast-top-center {
  top: 12px;
}

.toast-bottom-center {
  bottom: 12px;
}

@media screen and (max-width: 767px) {
  .toast-container .alert {
    width: 91.6666%;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 14px; }

.clear {
	clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.w-49 {
	width: 49% !important;
}
.card-header {
	font: 400 15px/24px Roboto,Helvetica Neue,sans-serif;
}
.navbar-nav .nav-link {
	font-size: 13px;
}
.btn.focus, .btn:focus {
	box-shadow: none !important;
}
.ngb-tp-input-container {
	width: 3em !important;
}
.ngb-tp-meridian > .btn, .ngb-tp-input-container > .btn {
	min-width: 86px;
}
.ngb-dp-arrow > .btn {
	min-width: 26px;
}
.ngb-tp-input-container > .btn {
	padding: 0;
}
ngb-timepicker {
	position: relative;
	top: -13px;
}
ngb-timepicker .ngb-tp {
	height: 64px;
}
.ngb-tp-chevron::before {
	border-width: .19em .19em 0 0 !important;
	height: .59em !important;
	width: .59em !important;
}