﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
		<a class="nav-item nav-link" [ngClass]="{'active': link !== ''}" (click)="addShipment()">Add Shipment</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<perfect-scrollbar style="max-width: 100%; max-height: 100vh;" [perfectScrollbar]="config">
	<div>
		<alert></alert>
		<router-outlet></router-outlet>
	</div>
</perfect-scrollbar>