﻿<div class="mt-10p center w470">
	<div class="card">
		<div class="text-center logo"><img src="./static/assets/images/logo.png"></div>
		<label class="card-subheader text-center" *ngIf="user">{{user.username}}</label>
		<h4 class="card-header text-center">Shipment Information</h4>
		<div class="card-body">
			<form [formGroup]="form" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="device_id">Device Id:</label>
					<input type="text" formControlName="device_id" class="form-control" readonly [ngClass]="{ 'is-invalid': submitted && f.device_id.errors }" />
					<div *ngIf="submitted && f.device_id.errors" class="invalid-feedback">
						<div *ngIf="f.device_id.errors.required">Device ID is required</div>
					</div>
				</div>
				<div class="form-group">
					<label for="shipment_id">Shipment Id:</label>
					<input type="text" formControlName="shipment_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shipment_id.errors }" />
					<div *ngIf="submitted && f.shipment_id.errors" class="invalid-feedback">
						<div *ngIf="f.shipment_id.errors.required">Shipment ID is required</div>
					</div>
				</div>
				<div class="form-group">
					<label for="carrier">Carrier:</label>
					<input type="text" formControlName="carrier" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.carrier.errors }" />
					<div *ngIf="submitted && f.carrier.errors" class="invalid-feedback">
						<div *ngIf="f.carrier.errors.required">Carrier is required</div>
					</div>
				</div>
				<div class="form-group">
					<label for="frequency">Frequency:</label>
					<input type="number" formControlName="frequency" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.frequency.errors }" />
					<div *ngIf="submitted && f.frequency.errors" class="invalid-feedback">
						<div *ngIf="f.frequency.errors.required">Frequency is required</div>
						<div *ngIf="f.frequency.errors.min || f.frequency.errors.max">Frequency should be between 15 to 1440</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="startTime">Start Time:</label>
					<div>
						<div class="pull-left w-49">
							<input class="form-control" placeholder="YYYY-MM-DD" formControlName="startDate" ngbDatepicker #sd="ngbDatepicker" (click)="sd.toggle()" readonly>
						</div>
						<div class="pull-right w-49">
							<ngb-timepicker formControlName="startTime" [meridian]="true"></ngb-timepicker>
						</div>
					</div>
					<div *ngIf="submitted && f.startTime.errors" class="invalid-feedback">
						<div *ngIf="f.startTime.errors.required">Start time is required</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="form-group">
					<label for="startTime">End Time:</label>
					<div>
						<div class="pull-left w-49">
							<input class="form-control" placeholder="YYYY-MM-DD" formControlName="endDate" ngbDatepicker #ed="ngbDatepicker" (click)="ed.toggle()" readonly>
						</div>
						<div class="pull-right w-49">
							<ngb-timepicker formControlName="endTime" [meridian]="true"></ngb-timepicker>
						</div>
					</div>
					<div *ngIf="submitted && f.endTime.errors" class="invalid-feedback">
						<div *ngIf="f.endTime.errors.required">End time is required</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="form-group text-center">
					<button [disabled]="loading" class="btn btn-primary">
						<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>